@model IEnumerable<Morgenmadsbuffet.Models.BreakfastBookingsModel>

@{
    ViewData["Title"] = "Breakfast buffet";
}

<h1>Breakfast buffet</h1>
<p>Todays date: @DateTime.Now</p>

<p>
    <a asp-action="Create">Add people who have ordered breakfast</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Date
        </th>
        <th>
            Room number
        </th>
        <th>
            Adults
        </th>
        <th>
            Children
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.BreakfastBookingsModelId}) |
                @Html.ActionLink("Details", "Details", new { id = item.BreakfastBookingsModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BreakfastBookingsModelId })
            </td>
        </tr>
    }
    </tbody>
</table>