@model IEnumerable<Morgenmadsbuffet.Models.CheckInsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdultCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookingsModels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdultCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastBookingsModels.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheckInsModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CheckInsModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CheckInsModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
