@model IEnumerable<Morgenmadsbuffet.Models.CheckInsModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/site.css" rel="stylesheet" />
<h2>Check In</h2>
<p>Todays date: @DateTime.Now</p>

<form asp-controller="CheckIns">
    <button><a asp-action="Create"> Create in new guests for breakfast</a></button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildCount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CheckInsModelId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
